.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.grid {
  background-color: "#444";
  display: grid;
  grid-gap: 2;
}

.square {
  background-color: "#fff";
  width: 100px;
  height: 100px;
}

.square:focus,
.result button:focus {
  outline: none;
}

.result {
  text-align: center;
}

.result h3 {
  font-size: 40px;
}

.result h3.winner {
  color: green;
}

.result h3.loser {
  color: red;
}

.result button {
  font-size: 40px;
  border: 1px solid #999;
  background: azure;
  font-weight: bold;
  cursor: pointer;
}
