.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 74px;
    margin-left: -1px;
    margin-top: -1px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.square:focus,
.result button:focus {
    outline: none;
}

.result {
    text-align: center;
}

.result h3 {
    font-size: 40px;
}

.result h3.winner {
    color: green;
}

.result h3.loser {
    color: red;
}

.result button {
    font-size: 40px;
    border: 1px solid #999;
    background: azure;
    font-weight: bold;
    cursor: pointer;
}
